*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

body{
  overflow-x: hidden;
}

/*------------ bovenkant -------------*/
header{
  background-color: #CDD5CA;
  width: 100%;
  height: 100vh;
}

.hallotekst{
  position: absolute;
  font-size: 100px;
  font-family: roboto;
  font-weight: bold;
  padding-top: 38vh;
  padding-left: 13%;
}

.thijstekst{
  position: absolute;
  font-size: 100px;
  font-family: roboto;
  font-weight: bold;
  padding-top: 50vh;
  padding-left: 13%;
}

.hoofdfoto{
  position: absolute;
  padding-left: 72%;
  padding-top: -10%;
  height: 100vh;


}
/* --------- eindbovenkant ----------- */

/*------------------ titels--------------- */


h1{
  font-family: roboto;
  font-weight: bold;
  font-size: 40px;
}

h1:after {
  position: absolute;
  margin: 55px -205px;
  content:"";
  width: 1500px;
  border-bottom: 16px solid #CDD5CA;
}

/*------------------ einde titels--------------- */
/* ---------- wie ben ik --------------*/

.introarticle{
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-top: 10vh;
  margin-left: 10%;
}

.introtekstblok1{
  position: absolute;
  padding-top: 4vh;
  width: 30%;
  font-family: roboto;
  font-weight: normal;
  font-size: 20px;
}

.introtekstblok2{
  position: absolute;
  padding-top: 4vh;
  padding-left: 35%;
  width: 65%;
  font-family: roboto;
  font-weight: normal;
  font-size: 20px;
}

/* ---------- einde wie ben ik --------------*/

/* -------------- project1 -------------------*/

.project1{
  background-color: #F8F8F8;
  width: 100%;
  height: 50vh;
  margin-top: 80vh;
}
