*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

body{

}

/*------------ bovenkant -------------*/
header{
  background-color: #CDD5CA;
  width: 100%;
  height: 100vh;
}

.hallotekst{
  position: absolute;
  font-size: 100px;
  font-family: roboto;
  font-weight: bold;
  padding-top: 38vh;
  padding-left: 13%;
}

.thijstekst{
  position: absolute;
  font-size: 100px;
  font-family: roboto;
  font-weight: bold;
  padding-top: 50vh;
  padding-left: 13%;
}

.hoofdfoto{
  position: absolute;
  padding-left: 72%;
  padding-top: -10%;
  height: 100vh;


}
/* --------- eindbovenkant ----------- */

/* ---------- wie ben ik --------------*/

h1{
  font-family: roboto;
  font-weight: bold;
  font-size: 40px;
}

.introarticle{
  position: absolute;
  width: 60%;
  margin-top: 10vh;
  margin-left: 10%;
}

.introtekst{
  padding-top: 2vh;
  width: 40%;
  font-family: roboto;
  font-weight: normal;
  font-size: 20px;
}
